/* ----------------GENERAL RULES FOR THE WHOLE PAGE-------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* ------------------CLASSES TO BE USED MULTIPLE TIMES----------------------- */
.flex {
  display: flex;
}

/* -------------------------------HEADER------------------------------------- */

header {
  height: 10vh;
  background-color: #007c7b;
}

/* ----------------------------------MAIN------------------------------------ */

main {
  height: 90vh;
  background-color: #d5d6cc;
  display: flex;
  justify-content: center;
  position: relative;
}

.biggerSquareContainer {
  height: 100%;
  width: 60%;
  position: absolute;
  bottom: 60px;
}

.squareLeft {
  height: 100%;
  width: 30%;
  /* overflow: hidden; */
  /* overflow-y: auto; */
  /* debug */
  background-color: royalblue;
}

.squareRight {
  height: 100%;
  width: 70%;
  /* debug */
  background-color: navy;
}

/* -------------------INSIDE THE LEFT SQUARE--------------------------------- */

.upperSectionLeft {
  height: 30%;
  width: 100%;
}

.upperLeft {
  height: 33%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid grey;
}

.upperLeft img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  position: relative;
  right: 190px;
}

.upperLeft i {
  padding: 0px 10px;
  color: grey;
}

#upLeft1 {
  background-color: #e9ebea;
}

#upLeft2 {
  background-color: #8bd6fd;
}

#upLeft3 {
  /* debug */
  background-color: yellow;
}
