/* ----------------GENERAL RULES FOR THE WHOLE PAGE-------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Spectral SC', serif;
}
/* ------------------CLASSES TO BE USED MULTIPLE TIMES----------------------- */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* -------------------------------HEADER------------------------------------- */

header {
  height: 10vh;
  background-color: #007c7b;
}

/* ----------------------------------MAIN------------------------------------ */

main {
  height: 90vh;
  background-color: #d5d6cc;
  display: flex;
  justify-content: center;
  position: relative;
}

.biggerSquareContainer {
  height: 100%;
  width: 70%;
  position: absolute;
  bottom: 60px;
  box-shadow: 20px 20px 50px 15px grey;
}

.squareLeft {
  height: 100%;
  width: 30%;
  overflow: hidden;
  background-color: white;
}

.squareRight {
  height: 100%;
  width: 70%;
}

/* -------------------INSIDE THE LEFT SQUARE--------------------------------- */
/* (1) */
.upperSectionLeft {
  height: 300px;
}

.upperLeft {
  height: 33.5%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.upperLeft img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  position: relative;
  right: 225px;
}

.upperLeft i {
  padding: 0px 10px;
  color: grey;
}

#upLeft1 {
  background-color: #e9ebea;
}

/* -------------------------------------------------------------------------- */
/* (2) */
#upLeft2 i {
  background-color: white;
  padding: 15px 15px;
  border-radius: 100%;
  position: relative;
  right: 85px;
}

#upLeft2:nth-child(2) h4 {
  font-weight: bold;
  position: relative;
  right: 50px;
}

#upLeft2:nth-child(2) p {
  color: grey;
  text-decoration: underline;
  position: relative;
  right: 50px;
}

#upLeft2 {
  background-color: #8bd6fd;
}

/* -------------------------------------------------------------------------- */
/* (3) */
#upLeft3 {
  background-color: #e9ebea;
  justify-content: center;
  position: relative;
}

#upLeft3 input {
  align-self: center;
  width: 85%;
  height: 35%;
  color: grey;
  border-radius: 5px;
  font-size: 1.3rem;
}

/* ---------------------------LOWER LEFT SECTION----------------------------- */

.lowerSectionLeft {
  height: calc(100% - 300px);
  width: 100%;
  overflow: auto;
}

.lowerSectionLeft ul {
  width: 100%;
}

.lowerSectionLeft li {
  max-width: 100%;
  height: 15%;
  border: 1px solid grey;
  white-space: nowrap;
  cursor: pointer;
}

.lowerSectionLeft li:hover {
  background-color: #e9ebea;
}

.contactSection li img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin-left: 10px;
}

.each-li {
  position: relative;
}

.each-li span:first-of-type {
  position: absolute;
  top: 10px;
  font-weight: bold;
  margin-left: 5px;
}

.each-li span:last-of-type {
  position: absolute;
  top: 30px;
  font-size: 13px;
  margin-left: 5px;
}

/* ----------------------------TOP RIGHT SECTION----------------------------- */

/* (ONLY THIS HAS "FOOT" FROM THE BOTTOM RIGHT SECTION) */
.squareRight .upRight,
.foot {
  height: 100px;
  background-color: #e9ebea;
}

.upRight .selectedChatNameAndAvatar span {
  position: relative;
  bottom: 30px;
  left: 5px;
}

.selectedChatNameAndAvatar img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin: 10px 0px 0px 10px;
}

/* --------------MIDDLE RIGHT SECTION (CHAT SECTION)------------------------- */

.middleSection {
  height: calc(100% - 200px);
  background-image: url(../img/backgound.png);
  overflow: auto;
}

.disappearingImage {
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disappearingImage img{
  width: 20rem;
  height: 20rem;
}

.width80 {
  width: 80%;
  margin: 0 auto;
}

#bubbleText {
  display: flex;
  flex-direction: column;
}

#bubbleText span {
  max-width: 45%;
  margin: 10px 0px 0px 0px;
}

#bubbleText span.received {
  background-color: white;
  align-self: flex-start;
}

#bubbleText span.sent {
  background-color: #dbfac6;
  align-self: flex-end;
}

#bubbleText span.received,
#bubbleText span.sent {
  font-size: 20px;
  border-radius: 10px;
  word-break: break-word;
}

/* ------------------------BOTTOM RIGHT SECTION------------------------------ */

.foot {
  justify-content: center;
  align-items: center;
}

.foot div:nth-child(1) i,
.foot div:nth-child(2) i {
  color: grey;
  margin-right: 20px;
  font-size: 20px;
}

.foot div:nth-child(3) i {
  font-size: 20px;
  margin-left: 20px;
  color: grey;
}

.foot div:nth-child(3) input {
  width: 700px;
  height: 50px;
  border-radius: 20px;
  font-size: 1.5rem;
}


/* ------------------------------MEDIA QUERY--------------------------------- */

/* ----------------------------EXTRA SMALL----------------------------------- */
@media all and (max-width:552px) {

  /* ------------UPPER LEFT--------------- */
  #upLeft2:nth-child(2) h4,
  #upLeft2:nth-child(2) p {
    font-size: 6px;
    text-align: right;
  }

  /* --------------FOOTER----------------- */
  .foot div:nth-child(3) input {
    width: 50px;
  }

  .foot div:nth-child(1) i,
  .foot div:nth-child(2) i,
  .foot div:nth-child(3) i {
    font-size: 8px;
  }

}



/* ---------------------------------SMALL------------------------------------ */

@media all and (min-width:553px) and (max-width:639px) {

  /* ------------UPPER LEFT--------------- */
  .upperLeft img {
    display: none;
  }

  #upLeft2:nth-child(2) h4,
  #upLeft2:nth-child(2) p {
    font-size: 8px;
    text-align: right;
  }

  /* -------------FOOTER----------------- */
  .foot div:nth-child(3) input {
    width: 100px;
  }

  .foot div:nth-child(1) i,
  .foot div:nth-child(2) i,
  .foot div:nth-child(3) i {
    font-size: 10px;
  }
}



/* -------------------------------MEDIUM------------------------------------- */

@media all and (min-width:640px) and (max-width:878px) {

  /* ------------UPPER LEFT--------------- */
  .upperLeft img {
    width: 3rem;
    height: 3rem;
    right: 0px;
  }

  #upLeft2 i {
    display: none;
  }

  #upLeft2:nth-child(2) h4,
  #upLeft2:nth-child(2) p {
    font-size: 10px;
    text-align: right;
  }

  /* --------------FOOTER---------------- */
  .foot div:nth-child(3) input {
    width: 200px;
  }

  .foot div:nth-child(1) i,
  .foot div:nth-child(2) i,
  .foot div:nth-child(3) i {
    font-size: 12px;
    position: relative;

  }

  .foot div:nth-child(3) i:last-of-type {
    margin-left: 0;
  }

}



/* -------------------------------LARGE------------------------------------- */

@media all and (min-width:879px) and (max-width: 1828px) {

  /* ------------UPPER LEFT--------------- */
  .upperLeft img {
    left: 5px;
  }

  #upLeft2 i {
    right: 65px;
  }

  #upLeft2:nth-child(2) h4,
  #upLeft2:nth-child(2) p {
    font-size: 12px;
    text-align: right;
  }

  /* ---------------FOOTER----------------- */

  .foot div:nth-child(3) input {
    width: 300px;
  }

  .foot div:nth-child(1) i,
  .foot div:nth-child(2) i,
  .foot div:nth-child(3) i {
    font-size: 14px;
  }

  .foot div:nth-child(3) i:last-of-type {
    margin-left: 0;
  }

}
