/* ----------------GENERAL RULES FOR THE WHOLE PAGE-------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* ------------------CLASSES TO BE USED MULTIPLE TIMES----------------------- */
.flex {
  display: flex;
}

/* -------------------------------HEADER------------------------------------- */

header {
  height: 10vh;
  background-color: #007c7b;
}

/* ----------------------------------MAIN------------------------------------ */

main {
  height: 90vh;
  background-color: #d5d6cc;
  display: flex;
  justify-content: center;
  position: relative;
}

.biggerSquareContainer {
  height: 100%;
  width: 60%;
  position: absolute;
  bottom: 60px;
}

.squareLeft {
  height: 100%;
  width: 30%;
  overflow-y: hidden;
  background-color: white;
}

.squareRight {
  height: 100%;
  width: 70%;
  /* debug */
  background-color: navy;
}

/* -------------------INSIDE THE LEFT SQUARE--------------------------------- */
/* (1) */
.upperSectionLeft {
  height: 30%;
  width: 100%;
}

.upperLeft {
  height: 33.5%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid grey;
}

.upperLeft img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  position: relative;
  right: 190px;
}

.upperLeft i {
  padding: 0px 10px;
  color: grey;
}

#upLeft1 {
  background-color: #e9ebea;
}

/* -------------------------------------------------------------------------- */
/* (2) */
#upLeft2 i {
  background-color: white;
  padding: 15px 15px;
  border-radius: 100%;
  position: relative;
  right: 83px;
}

#upLeft2:nth-child(2) h4 {
  font-weight: bold;
  position: relative;
  right: 40px;
}

#upLeft2:nth-child(2) p {
  color: grey;
  text-decoration: underline;
  position: relative;
  right: 40px;
}

#upLeft2 {
  background-color: #8bd6fd;
}

/* -------------------------------------------------------------------------- */
/* (3) */
#upLeft3 {
  background-color: #e9ebea;
  justify-content: center;
}

#upLeft3 input {
  align-self: center;
  width: 85%;
  height: 35%;
  color: grey;
  border-radius: 5px;
}

/* ---------------------------LOWER LEFT SECTION----------------------------- */

.lowerSectionLeft {
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}

.lowerSectionLeft ul {
  width: 100%;
}

.lowerSectionLeft li {
  width: 100%;
  height: 15%;
  border: 1px solid grey;
}
